.heading {
  margin-bottom: 1em;

  font-size: 28px;


  position: relative;
}

.heading::after {
  content: '';

  display: block;

  width: 1.75em;
  height: 0.2em;

  bottom: -0.25em;
  left: 0;

  background-color: #f80759;

  position: absolute;
}